awscli==1.10.66
bcrypt==3.1.0
boto3==1.4.0
botocore==1.4.56
cffi==1.7.0
click==6.6
colorama==0.3.7
docutils==0.12
Flask==0.11.1
Flask-Cache==0.13.1
Flask-S3==0.3.1
Flask-SQLAlchemy==2.1
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
MarkupSafe==0.23
pyasn1==0.1.9
pycparser==2.14
python-dateutil==2.5.3
requests==2.11.1
rsa==4.1
s3transfer==0.1.4
six==1.10.0
SQLAlchemy==1.0.13
tinys3==0.1.11
uWSGI==2.0.13.1
Werkzeug==0.11.10
