/* CSS applied on top of meguca's stylings*/
article{
    max-width: 70%; 
    min-width: 300px;
}
.act:before{
    content: "[";
}
.act:after{
    content: "]";
}

h1 img[src=""] { /* for bannerless */
    display: none;
}
/*
header h3::before{
    content:'「'
}
header h3::after{
    content:'」'
}
*/


#navTop::before { content: '[';}
#navTop span:last-child::after { content: ']'; }
#navTop span::after { content: ' / '; }
#navTop span:last-child::after { content: ''; }
#banner_info { margin-left: 7em; position: relative; }

#trans{
    max-width: 90%;
    height: 40px;
    margin: 0 0 -10px;
}
#options { margin-right: 1vw }
#options-panel{ display: none; }

.replyname, .replyemail, .threadsubject{
    background-color: rgba(0,0,0,0);
    color: #c5c8c6;
    border: none;
    height: inherit;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10pt;
    font-weight: bold;
}
.control{
    font-size: 9pt;
}
.popup-menu {
    z-index: 5;
}
.spoiler {
    content: url('http://i.4cdn.org/fa/1370877928640.png');
}
/*
.postmenu{
    position: relative;
    display: inline-block;
}
.postmenulist{
    position: absolute;
    list-style: none;
}*/
