/* CSS applied on top of meguca's stylings*/
article{
    max-width: 70%; 
    min-width: 300px;
}
.act:before{
    content: "[ ";
}
.act:after{
    content: " ]";
}
#trans{
    max-width: 90%;
    height: 40px;
    margin: 0 0 -10px;
}


