## the banner at the top of the page

{% macro banner() %}
<span id="banner">
## required with this formatting else it adds a space
## boardlinks
<b id="navTop">[{% for name, link in cfg.boardlinks %}<span>{% if not loop.last %}<a href="{{link}}">{{name}}</a> / {% else %}<a href="{{link}}">{{name}}</a>{% endif %}</span>{% endfor %}]

## second set of psuedo-boards
{%if cfg.cat2boards %}[{%for name, link in cfg.cat2boards %}<span>{% if not loop.last %}<a href="{{link}}">{{name}}</a> / {% else %}<a href="{{link}}">{{name}}</a>{% endif %}</span>{% endfor %}]{% endif %}
</b>

<a id="options" class="bfloat" title="Options"> 
    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
            <path d="M5.5 0c-1.38 0-2.5 1.12-2.5 2.5 0 .32.08.62.19.91l-2.91 2.88c-.39.39-.39 1.05 0 1.44.2.2.46.28.72.28.26 0 .52-.09.72-.28l2.88-2.91c.28.11.58.19.91.19 1.38 0 2.5-1.12 2.5-2.5 0-.16 0-.32-.03-.47l-.97.97h-2v-2l.97-.97c-.15-.03-.31-.03-.47-.03zm-4.5 6.5c.28 0 .5.22.5.5s-.22.5-.5.5-.5-.22-.5-.5.22-.5.5-.5z">
            </path>
    </svg>
</a>

<a id="banner_identity" class="bfloat" title="Identity">
    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
    <path d="M4 0c-1.1 0-2 1.12-2 2.5s.9 2.5 2 2.5 2-1.12 2-2.5-.9-2.5-2-2.5zm-2.09 5c-1.06.05-1.91.92-1.91 2v1h8v-1c0-1.08-.84-1.95-1.91-2-.54.61-1.28 1-2.09 1-.81 0-1.55-.39-2.09-1z"></path>
    </svg>
</a>

<a id="banner_FAQ" class="bfloat" title="FAQ">
    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
        <path d="M3 0c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1zm-1.5 2.5c-.83 0-1.5.67-1.5 1.5h1c0-.28.22-.5.5-.5s.5.22.5.5-1 1.64-1 2.5c0 .86.67 1.5 1.5 1.5s1.5-.67 1.5-1.5h-1c0 .28-.22.5-.5.5s-.5-.22-.5-.5c0-.36 1-1.84 1-2.5 0-.81-.67-1.5-1.5-1.5z" transform="translate(2)"></path>
    </svg>
</a>

<a id="banner_schedule" class="bfloat" title="Schedule">
    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
    <path d="M1 0c-.07 0-.13.01-.19.03-.39.08-.7.39-.78.78-.03.06-.03.12-.03.19v5.5c0 .83.67 1.5 1.5 1.5h5.5v-1h-5.5c-.28 0-.5-.22-.5-.5s.22-.5.5-.5h5.5v-5.5c0-.28-.22-.5-.5-.5h-.5v3l-1-1-1 1v-3h-3z"></path>
    </svg>
</a>

<b id="banner_info">&nbsp;&nbsp;[New Users - <a href="http://hawk.eva.hk/FAQ.html">Introduction</a>]</b>

<!-- meguca uses this for sync status
     pychan will use this for "time till next autorefresh" -->
<b id="onlineCount" class="bfloat" title="Online Counter">[1]</b>
<b id="sync" class="bfloat">Synced</b>
</span>

<div id="FAQ" class="bmodal" style="display: none; top: 22px;">
<ul>
    <li>Upload size limit is 10 MB</li>
    <li>Accepted upload file types: JPG, JPEG, PNG, APNG, GIF, WEBM, SVG, PDF, MP3(must have cover art)</li>
    <li><hr></li>
    <li>Hash commands: </li>
    <li>#&lt;number of dice(1-10, optional)&gt;d&lt;dice sides(1-100)&gt; - Roll dice</li>
    <li>#flip - Coinflip</li>
    <li>#8ball - An 8ball</li>
    <li>#pyu - Missle launcher</li>
    <li>#pcount - Launch count</li>
    <li>#q - Print r/a/dio song queue</li>
    <li>#sw&lt;hours(optional)&gt;:&lt;minutes&gt;:&lt;seconds&gt;[+-]&lt;offset seconds(optional)&gt; - Syncronised duration timer</li>
    <li> A positive offset adds a countdown. A negative offset starts the timer n seconds into the episode.</li>
    <li><hr></li>
    <li>Source code repository: 
        <a href="https://github.com/bakape/doushio" target="_blank">github.com/bakape/meguca</a></li>
    </ul>
</div>

<div id="schedule" class="bmodal" style="display: none;">
<span id="UTCClock">
    <b title="Click to show seconds">14 Sep 2016(Wed)20:10 UTC</b>
    <hr>
</span>
<table>
</table>
</div>

<div class="bmodal" id="options-panel" style="display: none; top: 22px;">
    <ul class="option_tab_sel">
        <li><a data-content="tab-0" class="">General</a></li>
        <li><a data-content="tab-1" >Style</a></li>
        <li><a data-content="tab-2">ImageSearch</a></li>
        <li><a data-content="tab-3">Fun</a></li>
        <li><a data-content="tab-4">Shortcuts</a></li>
    </ul>

    <ul class="option_tab_cont">
        <li class="tab-0"> </li>
        <li class="tab-1">
            <input type="checkbox" id="spoilers">
            <label for="spoilers" title="Don't spoiler images">Image Spoilers</label>
            <br>
            <select id="theme">    
                # for css in cfg.themes
                    {% set url= url_for('static', filename='css/' + css) %}
                    <option value={{url}} > {{css}} </option>
                # endfor
            </select>
            <label for="theme">Theme</label>
        </li>
        <li class="tab-2"> </li>
        <li class="tab-3"> </li>
        <li class="tab-4"> </li>
    </ul>
</div>

<div id="headerTopMargin"></div>
{%- endmacro %}
