## NOTES
## Meguca OP vs normal posts has the header/image order swapped.
##   This shoves the header to the right, instead of above the image
##   I've mimicked it here, though I feel like it could be resolved in css
## All if_exists else None checks are done in the macros themselves
##   This is just to keep the main macro itself cleaner, because jinja2
##   is fucking unreadable as it is
## JINJA2 LINE MODE is turned on, using # for statements, and ## for comments.

{% macro _header(boardname, threadid, post, isop=false )%} 
    {% set tid = threadid %}
    {% set pid = post.fake_id %}
    {% set name = post.name %}
    # if not name
        {% set name = "Anonymous" %}
    # endif
    <header>
        <input type="checkbox" class="postCheckbox">
        <span class="control">▶</span>
        # if isop
        <!-- subject is for threads only, at least for now -->
            # if post.subject:    
            <h3>「{{ post.subject }}」</h3>
            # else:
            <h3></h3>
            #endif
        # endif
        <a class="nope"> <b> {{ name }} </b> </a>
        <time title="{{post.timestamp}}"> {{post.h_time}}</time>
        <nav>
            <a href="/{{boardname}}/{{tid}}#{{pid}}" class="history">No.</a> <!-- tid == pid for threads -->
            <a href="/{{boardname}}/{{tid}}#{{pid}}" class="quote">{{pid}}</a>
        </nav>
        {% if isop %}
        <span class="act expansionLinks">
            <a href="/{{boardname}}/{{tid}}" class="history">Expand</a>
            ## I don't think I care to actually implement this
            ## <a href="/{{boardname}}/{{tid}}?last=100" class="history">Last 100</a>
        </span>
        {% endif %}
    </header>
{%- endmacro %}

{% macro _replies(boardname, replylist ) %}
    <small>
        {% for r in replylist %}
            {% set rid = r.tail %}
            {% set tid = r.thread_id %}

            # if rid 
            ## if no rid, the backref was from a different board #
            <a href="/{{boardname}}/{{tid}}#{{rid}}" class="history"> >>{{rid}} </a>
            # endif
        {% endfor %}
    </small>
{%- endmacro %}

{% macro _figure(filelist, isop) %}
    ## based on meguca sizing
    # if isop:                      
        {% set width = cfg.op_thumb_max_width %}
        {% set height= cfg.op_thumb_max_height %}
    # else:
        {% set width = cfg.post_thumb_max_width %}
        {% set height= cfg.post_thumb_max_height %}
    # endif 
    {% set width = width ~ 'px' %}
    {% set height = height ~ 'px' %}


    # for f in filelist:
        {% set tf = f.filename + '.jpg' %} 
        {% set mf = f.filename + '.' + f.filetype %}
        {% set thumbclass = 'thumb spoiler' if f.spoilered else 'thumb' %}
        
        # if f.filetype == 'webm':
            {% set mainclass = 'video' %}
        # elif f.filetype == 'pdf':
            {% set mainclass = 'pdf' %}
        # else:
            {% set mainclass = 'image' %}
        # endif

        {% set thumbf = "src/thumb/" + tf %} ## TODO this should be changed to cfg.option
        {% set mainf = "src/imgs/" + mf %} ## TODO this should be changed to cfg.option
        {% set linkt = url_for('static', filename= thumbf) %}
        {% set linkf = url_for('static', filename= mainf) %}
        <figure>
            <figcaption>
            <!-- imgsearch urls -->
            <a target="_blank" rel="nofollow" class="imageSearch google" href="https://www.google.com/searchbyimage?image_url={{linkf}}" style="display:initial">G</a>
            <i>
                <!-- image stats -->
                ({{f.filesize}}, {{f.resolution}})
                <a href="{{ linkf }}" rel="nofollow" download="{{linkf}}">
                    {{mf}}
                </a>
            </i>
            </figcaption> 
            <a target="_blank" rel="nofollow" id="{{f.filename}}" class="{{mainclass}}" href="{{ linkf }}">
                ## pdfs will also have an image thumbnail but won't inline expand (due to class='pdf')
                <img src="{{linkt}}" class="{{thumbclass}}" style="max-width:{{width}}; max-height:{{height}}">
            </a>
        </figure>
    # endfor
{%- endmacro %}


{% macro article(boardname, threadid, post, isop, counts='') %}
    {% set tid = threadid %}
    {% set pid = post.fake_id %} 
    # if isop:
        {{ _figure(post.files, isop=true) }}  ## meguca op max h/w is 250x250
        {{ _header(boardname, threadid, post, isop=true )}}
    # else:
        {{ _header(boardname, threadid, post, isop=false )}}
        {{ _figure(post.files, isop=false ) }} ## meguca op max h/w is 125x125
    # endif
    <blockquote>
        {{ post.parsed | safe}}
    </blockquote>
    {{ _replies(boardname, post.tails ) }}
    # if counts:
        {% set postcount = counts[0] %}
        {% set imgcount = counts[1] if counts[1] else 0 %}
        ## don't say anything if the thread doesn't have anything hidden.
        # if postcount:
            <span class="omit"> {{postcount}} replies and {{imgcount}} images omitted </span>
        # endif
    # endif
{%- endmacro %}
