## any standard import macros will go here

{% macro postform(threadid) %}
## if threadid, its a [New Reply]. Else [New Thread]
# if isthread:
    {% set tclass = 'threadsubject' %}
    {% set tname = 'subject' %}
    {% set ttext = 'Subject' %}
    {% set tlength = '50' %}
# else:
    {% set tclass = 'replyemail' %}
    {% set tname = 'email' %}
    {% set ttext = 'Email' %}
    {% set tlength = '30' %}
# endif
<article class="postform" style="display: none">
    # if threadid:
    <form method="post" enctype="multipart/form-data" action="./{{threadid}}/upload">
    # else:
    <form method="post" enctype="multipart/form-data" action="./upload">
    # endif
        <header>
            <b class="name"><input type="text" class="replyname" maxlength="30" name="name" placeholder="Anonymous"></b>
        <b class="Email"><input type="text" class="replyemail" maxlength="30" name="email" placeholder="Email"></b>
        </header>
        <blockquote> <!-- reply text -->
            <p></p>
            <p></p>
            <textarea name="body" class="form_trans themed" rows="1" autocomplete="false" style="width:400px; max-width: 90%; height: 40px;" maxlength="2000"></textarea>
        </blockquote>
        <small></small>
        <input type="submit" class="form_submit" value="Submit">
        <input type="button" class="form_cancel" value="Cancel" style="display: inline-block;">
        <input type="button" class="form_toggle">
        <input type="file"   class="form_image" name="image" accept="image/*;.webm">
        <input type="hidden" class="form_password" name="password" >
        ### # if threadid
        ### <input type="hidden" class="form_threadid" name="threadid"  val="{{threadid}}">
        ### # endif
    </form>
</article>
{% endmacro %}
