## any standard import macros will go here

{% macro header() %}
    {% set base = url_for('static', filename='css/base.css') %}
    {% set ashita = url_for('static', filename='css/tea.css') %}
    {% set mycss = url_for('static', filename='css/mycss.css') %}
    {% set clientjs= url_for('static', filename='js/client.js') %}
    {% set autogrow= url_for('static', filename='js/autogrow.js') %}
    {% set cookies= url_for('static', filename='js/cookies.js') %}
    
    <head>
        <link rel="stylesheet" id="theme" href="{{ base }}">
        <link rel="stylesheet" id="theme" href="{{ ashita }}">
        <link rel="stylesheet" id="theme" href="{{ mycss }}">
        <!-- pull jquery from google instead of ourselves, because it'll be cached from other sites too -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="{{ clientjs }}"></script>
        <script type="text/javascript" src="{{ autogrow }}"></script>
        <script type="text/javascript" src="{{ cookies }}"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
{%- endmacro %}

{% macro footer(isThread, tit=None) %}
    # if isThread
        <span class="act"><a href="/{{tit}}/" id="bottom" class="history">Return</a></span>
        <span class="act"><a href="#">Top</a></span>
    # endif
    <input type="password" id="pass"/>
{%- endmacro %}
