{% import 'macros/post_articles.html' as posts %}
{% import 'macros/sections.html' as sections %}
{% import 'macros/banner.html' as banner %}
<!DOCTYPE html>
<html lang="en">
    {{ sections.header() }}
    <body>
        {{ banner.banner() }}
        <h1> <img src=""> <!-- banner img goes here --> </img> </h1>
        <threads>
        {% set tit, stit = board.title, board.subtitle %}
           <h1> /{{tit}}/ - {{stit}} </h1>
           <!-- meguca doesn't use slogans? -->
            <nav class="pagination act">
            # for i in range(5):
            <a href="?page={{i}}" class="history">{{ i }}</a>
            # endfor
            </nav>
        <hr>
        <aside class="act posting board"> 
            <a >New Thread</a>
        </aside>
        {% for thread in threads %}
            {% set op = thread[0] %}
            {% set tid = op.thread_id %}
            <section id={{ tid }}>
            {{ posts.article(tit, tid, op, isop=True, counts=counts[loop.index-1]) }}
            <hr> ## END OF OP
            
            {% for post in thread[1:] %}
                <article id="{{ post.id }}">
                {{ posts.article(tit, tid, post, isop=False) }}
                </article>
            {% endfor %}

            <aside class="act posting thread" style="display: table"> ## Reply form that opens on click. Handled by client.js
                <a>Reply</a>
            </aside>
            </section> ## END OF THREAD
            <hr>
        {% endfor %} 
        </threads>
        {{ sections.footer(isThread=False) }}
    </body>
</html>
    
