{% import 'macros/post_articles.html' as posts %}
{% import 'macros/header.html' as headers %}
<!DOCTYPE html>
<html lang="en">
    {{ headers.header() }}
    <body>
        <h1> <img> <!-- banner goes here --> </img> </h1>
        <threads>
        {% set tit, stit = board.title, board.subtitle %}
           <h1> /{{tit}}/ - {{stit}} </h1>
           <!-- meguca doesn't use slogans? -->
        <nav class="pagination act">
            # for i in range(5):
            <a href="?page={{i}}" class="history"> {{ i }}</a>
            # endfor
        </nav>
        <hr>
        <aside class="act posting"> 
            <a>New thread</a>
        </aside>
        <hr>
        {% for thread in threads %}
            {% set op = thread[0] %}
            {% set tid = op.id %}
            <section id={{ op.id }}>
            {{ posts.merge(tid, op, isop=True) }}
            <hr> ## END OF ORIGINAL POST
            
            {% for post in thread[1:] %}
                <article id="{{ post.id }}">
                {{ posts.merge(tid, post, isop=False) }}
                </article>
            {% endfor %}
            
            <aside class="act posting" style="display: table"> ## Reply form that opens on click. Handled by client.js
                <a>Reply</a>
            </aside>

            <hr>
            <hr>
            </section> ## END OF THREAD
        {% endfor %} 
        </threads>
    </body>
</html>
    
