{% import 'macros/post_articles.html' as posts %}
{% import 'macros/header.html' as headers %}
<!DOCTYPE html>
<html lang="en">
    {{ headers.header() }}
    <body>
        <h1> <img> <!-- banner goes here --> </img> </h1>
        <threads>
        {% set tit, stit = board.title, board.subtitle %}
        <h1> /{{tit}}/ - {{stit}} </h1>
        <!-- meguca doesn't use slogans? -->
        <span class="act"><a href="#bottom">Bottom</a></span>
        <span class="act"><a href="" id="expandImages">Expand Images</a></span>
        <hr>
            {% set op = thread[0] %}
            {% set tid = op.thread_id %}
            <section id={{ tid }}>
            {{ posts.merge(tit, tid, op, isop=True) }}
            <hr> ## END OF ORIGINAL POST
            
            {% for post in thread[1:] %}
                <article id="{{ post.id }}">
                {{ posts.merge(tit, tid, post, isop=False) }}
                </article>
            {% endfor %}
            
            <aside class="act posting thread" style="display: table"> ## Reply form that opens on click. Handled by client.js
                <a>Reply</a>
            </aside>

            <hr>
            <span class="act"><a href="." id="bottom" class="history">Return</a></span>
            <span class="act"><a href="#">Top</a></span>
            </section> ## END OF THREAD
        </threads>
    </body>
</html>
    
